<div class="container">
    <header>
      <div class="uppernavbar">
        <ul>
          <li><%= link_to("I Am an applicant", '#', class: "linkupper") %></li>
          <li><%= link_to("API & Docs", '#', class: "linkupper") %></li>
          <li><%= link_to("About us", '#', class: "linkupper") %></li>
          <li><%= link_to("Carreers", '#', class: "linkupper") %></li>
        </ul>
      </div>
      <div class="lowernavbar">
        <ul>
          <div>
            <li class= "logo"><%= image_tag("logo.png", width:"130") %></li>
          </div>
          <div>
            <li>
              <div class="dropdown">
                <button class="dropbtn">PRODUCT</button>
                <div class="dropdown-content">
                  <a href="#">Overview</a>
                  <a href="#">Screenings</a>
                  <a href="#">Compliance</a>
                  <a href="#">Security</a>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown">
                <button class="dropbtn">STAFFING</button>
                <div class="dropdown-content">
                  <a href="#">Overview</a>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown">
                <button class="dropbtn">INDUSTRIES</button>
                <div class="dropdown-content">
                  <a href="#">Overview</a>
                  <a href="#">Contact Centers</a>
                  <a href="#">Retail and Hospitality</a>
                  <a href="#">Non Profit</a>
                  <a href="#">Manufacturing</a>
                  <a href="#">Small Business</a>
                  <a href="#">Staffing</a>
                  <a href="#">Financial Services</a>
                  <a href="#">Healthcare</a>
                  <a href="#">On-Demand Economy</a>
                  <a href="#">Software & Technology</a>
                  <a href="#">P2P Marketplaces</a>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown">
                <button class="dropbtn">RESSOURCES</button>
                <div class="dropdown-content">
                  <a href="#">Overview</a>
                  <a href="#">Guides & White Papers</a>
                  <a href="#">FAQ</a>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown">
                <button class="dropbtn">COMPLIANCE</button>
              </div>
            </li>
          </div>
          <div class="rightlowernavbar">
            <li><button class="dropbtn">LOG IN</button></li>
            <li><button class="getstarted">GET STARTED -></button></li>
          </div>

        </ul>
      </div>
    </header>

    <div class="content">
      <h1>HIRE GREAT PEOPLE.<br>FASTER.</h1>
      
      <p>Checkr provides modern and compliant background</p>
      <p>checks for global enterprises and startups.</p>
      <br><br>
      <a class="button-yellow-with-arrow" href="http://checkr.com/product/">EXPLORE NOW -></a>
    </div>
    <div class="video">
      <video id="demo-vid_html5_api" class="vjs-tech" autoplay="" loop="" preload="auto" poster="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" data-setup="{}">
				<source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type="video/mp4">
				<source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.webm" type="video/webm">
				<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" width="606" height="634">
			</video>
    </div>
</div>
